{
  "branches": [
    {
      "name": "main",
      "prerelease": false
    },
    {
      "name": "develop",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./inject-version.sh ${nextRelease.version} ${lastRelease.version}"
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "/tmp/RELEASE_NOTES.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "staking_deposit/settings.py",
          "package.json",
          "setup.py"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]"
      }
    ]
  ]
}
